<div class="hidden" id="placeholder"></div>
<div class="main-content">
  <div class="container-fluid">
    <mat-tab-group animationDuration="2000ms">
      <mat-tab label="Controles">
        <div id="Controles">
          <div class="btn-group">
            <div
              *ngIf="
                status === null ||
                  status === undefined ||
                  status === 'notLogged';
                else connected
              "
            >
              <div *ngIf="qrCode === null || qrCode === '' || qrCode === undefined">
                <button
                  mat-raised-button
                  type="button"
                  class="btn btn-danger"
                  id="start"
                  (click)="startBot()"
                >
                  Começar
                </button>
              </div>
              <div *ngIf="qrCode !== null || qrCode !== '' || qrCode !== undefined">
                <br />
                <br />
                <br />
                <img [src]="qrCode" alt="QR Code" class="img-fluid" />
                <br />
                <br />
                <br />
                <div class="alert alert-warning" role="alert">
                  <p>
                    <strong>Atenção!</strong> Para iniciar o bot, você precisa
                    escanear o QR Code acima.
                  </p>
                </div>
              </div>
            </div>
            <ng-template #connected>
              <button
                mat-raised-button
                type="button"
                class="btn btn-warning"
                id="stop"
                (click)="stopBot()"
              >
                Parar
              </button>
              <!-- <button
                mat-raised-button
                type="submit"
                class="btn btn-secondary"
                id="clearLog"
              >
                Limpar Log
              </button> -->
            </ng-template>
          </div>
        </div></mat-tab
      >
      <mat-tab label="Conversas"><div id="Conversas"></div></mat-tab>
      <mat-tab label="Logs"> <div id="Logs"></div></mat-tab>
    </mat-tab-group>
  </div>
</div>
