<div class="hidden" id="placeholder"></div>
<div class="main-content">
  <div class="container-fluid">
    <mat-tab-group animationDuration="2000ms">
      <mat-tab label="Controles">
        <div id="Controles">
          <div class="btn-group">
            <button
              mat-raised-button
              type="button"
              class="btn btn-danger"
              id="start"
              (click)="startBot()"
            >
              Começar
            </button>
            <button
              mat-raised-button
              type="submit"
              class="btn btn-warning"
              id="stop"
            >
              Parar
            </button>
            <button
              mat-raised-button
              type="submit"
              class="btn btn-info"
              id="reload"
            >
              Recarregar
            </button>
            <button
              mat-raised-button
              type="submit"
              class="btn btn-dark"
              id="restart"
            >
              Reiniciar
            </button>
            <button
              mat-raised-button
              type="submit"
              class="btn btn-secondary"
              id="clearLog"
            >
              Limpar Log
            </button>
          </div>
        </div></mat-tab
      >
      <mat-tab label="Conversas"><div id="Conversas"></div></mat-tab>
      <mat-tab label="Logs"> <div id="Logs"></div></mat-tab>
    </mat-tab-group>
  </div>
</div>
